.med-box
  %h1.ui.purple.header
    Manage your subscription
  .ui.segment
    %p
      = "You currently make #{@org.people.count} people happy."

    .ui.statistic
      .value
        $15
      .label
        You'll need to pay next month
