.med-box
  .ui.segment
    %h1.ui.header
      Settings

    %h3.ui.teal.header
      How often should we ask your colleagues how they are?

    = form_for @organisation, html: { class: 'ui form' } do |f|
      .field
        = f.select :query_frequency, options_for_select(@query_freqs.collect { |s| [s[0].humanize, s[0]] }, selected: @organisation.query_frequency), {}, class: 'ui selection dropdown'
      .field= f.submit 'Save', class: 'ui blue submit button'
