.header
  %h1 Responses

%p
  = link_to 'Query Happiness', query_happiness_path, class: 'btn btn-default btn-lg', remote: true, method: :post

- if @responses.count > 0
  %table.table
    %thead
      %tr
        %th Body
        %th Grade
    %tbody
      - @responses.each do |response|
        %tr
          %td= response.body
          %td= response.grade
- else
  Nothing here
