@import "bootstrap-sprockets";
@import "bootstrap";

$sidebar-width: 300px;

html, body {
  height: 100%;
}

.left-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: $sidebar-width;
  background: #555;
  height: 100%;

  .logo {
    text-align: center;
    padding: 15px;
    margin: 0;
    color: #fff;
    a {
      color: #fff;
      transition: all 0.3s;
      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    text-transform: uppercase;

    li {
      width: 300px;
      background: #444;
      padding: 10px;
      transition: all 0.2s;
      &:hover {
        background: #777;
      }
    }

    li a {
      color: #aaa;
      font-weight: 600;
      font-size: 24px;
      text-decoration: none;
    }
  }
}

.main {
  margin-left: $sidebar-width;
  padding-left: 15px;
  h1 {
    font-size: 68px;
  }
}
.header {
}
