/*
*= require pikaday
*/

@import "semantic-ui";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,600,700,900);

body {
  background: white;
}

.center {
  text-align: center;
  margin: auto 0;
}

.session-box {
  max-width: 320px;
  margin: 0 auto;
}

.med-box {
  max-width: 500px;
  margin: 0 auto;
}
