@import 'semantic-ui';
@import 'sessions';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,600,700,900);
$sidebar-width: 200px;

html, body {
  height: 100%;
  font-family: 'Open Sans';
  background: #f9f9f9;
}

.main {
  margin-left: $sidebar-width;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
}

.hover-display {
  opacity: 0 !important
}
.hover-show:hover .hover-display {
  opacity: 1 !important
}

.text-right {
  text-align: right;
}

.tophead {
  padding: 25px !important;
  margin: 0px -23px !important;
  margin-top: -8px !important;
}
