.ui.large.secondary.pointing.menu
  = link_to root_path, class: 'item' do
    %i.home.icon
  .right.menu
    .ui.dropdown.item
      %i.icon.dropdown
      .menu
        = link_to settings_path, class: 'item' do
          %i.settings.icon
          Settings

        = link_to destroy_user_session_path, class: 'item', method: :delete do
          %i.sign.out.icon
          Sign out
